body {
  font-family: monospace;
}

.scoreboard,
.options {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.scoreboard p {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: purple;
}

.score {
  border: 0.5rem palevioletred solid;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 0 1rem;
  width: 185px;
}

.result {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem 0 0 0;
}

.option {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 8rem;
    transition: 100ms;
}

.option:hover {
    transform: scale(1.2);
}